<div class="h-full w-full flex flex-col">
  <div class="bg-[url('./assets/me.png')] page relative bg-bottom bg-meSize bg-no-repeat">
    <div class="font-sacramento dark:text-white absolute top-[10%] left-[10%] text-6xl">hello,<br />i'm tami<span class="txt-primary-colors">.</span></div>
  </div>
  <div class="text-white bg-colors page font-bold font-roboto flex items-center">
    <div class=" font-sourceCodePro font-light text-xl text-center">
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolore pariatur
      reprehenderit delectus fugiat non, amet consectetur, cum minus
      exercitationem incidunt laboriosam fuga aliquid ex rerum veritatis.
      Voluptatem sunt rem iure.
    </div>
  </div>
</div>
