<div class="relative">
  <span
    class="align-super hamburger hamburger--minus"
    [ngClass]="{ 'is-active': navbarOpen }"
    (click)="toggleNavbar()"
  >
    <span class="hamburger-box">
      <span class="hamburger-inner"></span>
    </span>
  </span>
  <!-- <div class="relative z-10">
    <ul
      class="absolute left-[100%] transform w-screen text-white font-light text-center text-2xl"
      ngClass="'animate-menuDropdownIn' : navbarOpenAnimation"
      ngClass="'animate-menuDropdownOut' : navbarCloseAnimation"
    >
      <li class="menuItemStyle">Home</li>
      <li class="menuItemStyle">Me</li>
      <li class="menuItemStyle">Projects</li>
      <li class="menuItemStyle">Contact</li>
      <li class="menuItemStyle">i</li>
    </ul>
  </div> -->
</div>
