<div class="relative z-20">
  <span
    class="align-super hamburger hamburger--minus"
    [ngClass]="{ 'is-active': navbarOpen }"
    (click)="toggleNavbar()"
  >
    <span class="hamburger-box">
      <span class="hamburger-inner"></span>
    </span>
  </span>
  <div *ngIf="this.navbarOpen !== undefined" class="relative z-10">
    <div
      class="h-[calc(100vh-theme(spacing.16))] mt-3 absolute left-[100%] translate-x-[-100%] bg-colors transform w-screen text-white font-light text-center text-2xl"
      [ngClass]="{
        'animate-menuDropdownIn': navbarOpenAnimation,
        'animate-menuDropdownOut': navbarCloseAnimation
      }"
    >
      <ul class="h-full flex flex-col">
        <li class="menuItemStyle"><div (click)="goTo('/home')">Home</div></li>
        <li class="menuItemStyle"><div (click)="goTo('/me')">Me</div></li>
        <li class="menuItemStyle"><div (click)="goTo('/projects')">Projects</div></li>
        <li class="menuItemStyle"><div (click)="goTo('/contact')">Contact</div></li>
        <li class="menuItemStyle mt-auto self-center">
          <app-theme-toggler></app-theme-toggler>
        </li>
      </ul>
    </div>
  </div>
</div>
